<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body> 
    <h1 id="title"></h1>
    <p id="desc"></p>
    <p id="desc2"></p>
    <p id="desc3"></p>
    <a href="/">← 홈</a>
    
    <script>
      fetch("/api/environment")
      .then(res => res.json())
      .then(data => {
        document.getElementById("title").innerText = data.title;
        document.getElementById("desc").innerText = data.description;
        document.getElementById("desc2").innerText = data.description2;
        document.getElementById("desc3").innerText = data.description3;
      });
    </script>
  </body>
</html>
